* {
    font-family:'Orbitron', sans-serif ;
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem; 
}

body h1,
body h2 {
    display: flex;
    justify-content: center;
    align-items: center;

}
body h2 {
    padding-top: 2rem;
}

body {
    background-color: rgba(166, 194, 236, 0.801);
    align-items: center;
    justify-self: center;
}

.logininfonames {
    display: flex;
    padding-top: 2rem;
    
}

.logininfonames p {
    flex : 1;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

.LoginInfobuttons input,
.LoginInfobuttons{
    text-align: center;
}
.LoginInfobuttons {

    padding-top: 0.6rem;
    padding-bottom: 1rem;
}

.buttons {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    
}
.buttons button {
    padding: 0.3rem .3rem;
    background-color: lightblue;
    border-radius: 0.9rem;
    
    
}

.maindiv  {
    display: flex;
    flex-direction: column;
    /* border-collapse: collapse; */
}

.imgclass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:4rem ;
    aspect-ratio: 1;
}

table, th, td{
    border: 1px solid black;
}

.editcol button{
    display: flex;
    max-width: fit-content;
}

.edit-cell button{
    background-color: transparent;
    border-color: rgb(0, 255, 42);
    color: transparent;
    
}
.edit-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-cell button{
    background-color: transparent;
    border-color: red;
    color: transparent;
    
}
.delete-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Below is for admin Page */
.adminmain  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
}
.admindiv1, .admindiv2 {
    padding: 1rem;    

}
.admindiv1 button,
.admindiv2 button {
    padding: 0.3rem .3rem;
    background-color: transparent;
    border-radius: 0.9rem;
}
.adminimgclass {
    max-width: 200px;
    max-height: fit-content;
}